body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.ant-table-thead > tr > th{
    text-align: center!important;
}
.ant-table-tbody > tr > td{
    text-align: center;
}
h1{
    text-align: center;
}
input:-webkit-autofill {
    /* 用白色的内置阴影覆盖输入框的黄色 */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
